@font-face {
    font-family: Athene;
    src: url("../fonts/Athene.otf")
    format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,700;0,800;1,700;1,800&display=swap');


/* ======================= General ======================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- Farben und Schriften ---------- */
/* 
#042A5A, #F4C4C4, #282B29, #7D2222, #DEB873, #D2D2D2, #388883


    font-family: 'Open Sans', sans-serif;
    font-family: Athene;  
*/


html {
    font-size: 62.5%;
}

body {
    max-width: 1440px;
}

h1 {
    font-family: Athene;
    font-size: 16rem;
    font-weight: 150;
}


/* ======================= HEADER ======================= */

header {
    background: #EFE8D7;
    color: #042A5A;
}


header nav {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 1.55rem;
    letter-spacing: -8%;
    line-height: 25px;
    border-bottom: 1px solid #042A5A;
    position: fixed;
    width: 100vw;
}

header nav p {
    display: inline-block;
    width: 45%;
    padding: 6.5px 1.5vw 7px 10vw;
}

header nav p:nth-of-type(2) {
    text-align: right;
}


header h1 {
    text-align: center;
    border-bottom: 1px solid #042A5A;
    margin: 0 10vh;
}
header section h1:nth-of-type(1) {
    padding-top: 100px;
}

header section h1:nth-of-type(2) span {
    letter-spacing: -15px;
}


/* ------------ Bild ------------ */


header img {
    height: 602px; 
    width: 401px;
    padding-top: 5vh;
}

header section div:nth-of-type(1) {
    text-align: center;
    padding-bottom: 5vh;
}


/* ------------ Bildunterschrift ------------ */


header section div:nth-of-type(2) {
    padding-bottom: 20vh;
    max-width: 400px;
	margin: 0 auto;
}

header section div:nth-of-type(2) p {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 100;
    text-transform: uppercase;
    display: inline-block;
}

header section div:nth-of-type(2) p span {
    font-family: Athene;
    font-size: 2.4rem;
    text-transform: uppercase;
}



/* ======================= MAIN 1 ======================= */


main:nth-of-type(1) {
    background-color: #F4C4C4;
}

main:nth-of-type(1) > p:nth-of-type(1) {
    text-align: left;
    padding-top: 98px;
    font-size: 1.55rem;
    padding-left: 120px;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

main:nth-of-type(1) h2 {
    font-size: 16rem;
    color: #282B29;
    font-weight: 400;
    font-family: Athene;
    line-height: 200px;
    margin-top: 50px;
}

main:nth-of-type(1) div:nth-of-type(1) {
    width: 535px;
    height: 180px;
    margin: 25px 95px 125px 810px;
}

main:nth-of-type(1) div>p {
    font-size: 1.7rem;
    font-family: 'Open Sans', sans-serif;
    color: #282B29;
    letter-spacing: -2%;
    line-height: 36px;
    font-weight: lighter;
    text-align: left;
}

/* ---------- TABLE ---------- */

main:nth-of-type(1) table {
    text-align: right;
    padding-left: 742px;
    padding-right: 80px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #282B29;
    font-weight: lighter;
}

table tr th {
    font-weight: normal;
    text-align: right;
}


table tr td {
    margin: 0;
    padding: 10px 0 10px 0; 
}

tr:nth-of-type(1) {
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: uppercase;
}


tr td:nth-of-type(1) {
	padding-right: 25px;
    font-size: 1.2rem;
}

tr td:nth-of-type(2) {
	width: 60%;
    font-size: 2.1rem;
    text-align: left;
}

tr td:nth-of-type(3) {
	text-align: right;
    font-size: 1.2rem;
    width: 30%;
}

th {
	border-bottom: 1px solid black;
}

td {
	border-bottom: 1px solid black;
}


/* ---------- Logo ---------- */

main:nth-of-type(1) div {
    text-align: right;
    color: black;
    margin-right: 95px;
    margin-top: 95px;
    padding-bottom: 15vh;
    
}
main:nth-of-type(1) div img {
    width: 120px;
    height: 120px;
}


/* ======================= MAIN 2 ======================= */

main:nth-of-type(2) {
    background-color: #DEB873;
}

main:nth-of-type(2) > h2, h3 {
    color: #7D2222;
}

main:nth-of-type(2) > p:nth-of-type(1) {
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    padding-top: 120px;
    font-size: 1.55rem;
    color: #7D2222;
    margin-right: 120px;
    margin-top: 0;
}

main:nth-of-type(2) h2 {
    text-align: right;
    font-size: 16rem;
    font-weight: 400;
    font-family: Athene;
    line-height: 200px;
    margin-top: 50px;
}


main:nth-of-type(2) div>p {
    width: 500px;
}

main:nth-of-type(2) div>p {
    font-size: 1.7rem;
    color: #7D2222;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 200px;
    margin-left: 95px;
    letter-spacing: -2%;
    line-height: 36px;
    font-weight: lighter;
}


/* ---------- ARTICLE - GENERAL STYLES ---------- */

main:nth-of-type(2) article h3 {
    font-family: Athene; 
    font-size: 6.4rem;
    font-weight: 400;
    margin-bottom: 300px;
    margin-top: 10px;
}


/* ---------- BILD 1 ---------- */

main:nth-of-type(2) article:nth-of-type(1) {
    background: url("../img/bg-marconatto-1.jpg") right top no-repeat;
    background-size: 60%;
    padding: 0 0 160px 0;
    margin-left: 95px;
    margin-right: 120px;
}



/* ---------- BILD 2 ---------- */

main:nth-of-type(2) article:nth-of-type(2) {
    background: url(../img/kathe_cover-1.jpg) left top no-repeat;
    background-size: 60%;
    padding: 0 0 160px 0;
    margin-left: 95px;
    margin-right: 120px;
}

main:nth-of-type(2) article:nth-of-type(2) h3 {
    text-align: right;
}


/* ---------- BILD 3 ---------- */


main:nth-of-type(2) article:nth-of-type(3) {
    background: url("../img/bg-nicole-1.jpg") right top no-repeat;
    background-size: 60%;
    padding: 0 0 160px 0;
    margin-left: 95px;
    margin-right: 120px;
}



/* ---------- Versuche, das Anführungszeichen nach 2019 anzusteuern ---------- */

/* main:nth-of-type(2) article:nth-of-type(3) h3:nth-of-type(2) {
    unicode-bidi:bidi-override;
    direction:rtl;
}

main:nth-of-type(2) article:nth-of-type(3) h3:nth-of-type(2)::first-letter {
    font-style: italic;
} */

/* main:nth-of-type(2) article:nth-of-type(3) h3 span {
    color: lightseagreen;
    font-weight: bold;
    font-family: 'Scheherazade New', serif;
    float: left;
    -webkit-transform: rotate(45deg);
} */


main:nth-of-type(2) article:nth-of-type(3) h3 span {
    font-weight: 700;
    font-style: italic;
}



/* ---------- BILD 4 ---------- */


main:nth-of-type(2) article:nth-of-type(4) {
    background: url(../img/boa_cover-1.jpg) left top no-repeat;
    background-size: 60%;
    padding: 0 0 160px 0;
    margin-left: 95px;
    margin-right: 120px;
}

main:nth-of-type(2) article:nth-of-type(4) h3 {
    text-align: right;
}


/* ======================= FOOTER ======================= */

footer {
    background-color: #D2D2D2;
}

footer p {
    color: #388883;
    font-family: 'Open Sans', sans-serif;
}

footer>p:nth-of-type(1) {
    font-size: 1.55rem;
    margin-left: 115px;
    padding-top: 100px;
}

footer h2 {
    color: #388883;
    font-size: 16rem;
    font-weight: 400;
    font-family: Athene;
    line-height: 200px;
    margin-top: 50px;
}

/* ---------- FLIESSTEXT ---------- */

footer div {
    margin-left: 470px;
    width: 440px;
}

footer>div>p {
    font-size: 2.4rem;
    line-height: 48px;
    font-weight: lighter;
}

/* ---------- SOCIAL MEDIA ---------- */

footer ul {
    text-align: right;
    margin-right: 120px;
    padding-bottom: 10vh;
    padding-top: 100px;
}

footer ul li {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 48px;
}

footer a {
    text-decoration: none;
    color: #388883;
}

footer a:hover {
    text-decoration: underline;
}